KIBANA_URL=https://YOUR-DEPLOYMENT.kb.us-east-2.aws.elastic-cloud.com
ELASTICSEARCH_URL=https://YOUR-DEPLOYMENT.es.us-east-2.aws.elastic-cloud.com
ELASTICSEARCH_API_KEY=
KIBANA_API_KEY=
KIBANA_SPACE_ID=tdlr-form-burden
